.product-list-wrapper {
    text-decoration: none;
    list-style: none;
    padding: 0;
    margin: 0;
    list-style-type: none;
}
.product-list {
    padding: 5px;
    cursor: pointer;
    margin: 10px;
    border: solid 1px;
    text-decoration: none;
}