<ul class="product-list-wrapper">
    <li *ngFor="let product of products">
        <div class="product-list" (click)="onProductClick(product)">
            {{product?.productName}}
            <span *ngIf="displayProductCode">({{product?.productCode}})</span>
        </div>
    </li>
</ul>
<div class="action-btn">
    <div class="action-btn-left">
        <input type="checkbox" id="productCode" (change)="onProductDisplayCode($event)" [checked]="displayProductCode">
        <label for="productCode">Display Product Code</label>
    </div>
    <div class="action-btn-right">
        <button (click)="onAddNew();">Add New</button>
    </div>
</div>