.product-list-wrapper {
    text-decoration: none;
    list-style: none;
    padding: 0;
    margin: 0;
    list-style-type: none;
    border-right: solid 1px;
    width: 390px;
}
.product-list {
    padding: 5px;
    cursor: pointer;
    margin: 10px;
    border: solid 1px;
    text-decoration: none;
}
.action-btn {
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    .action-btn-left {
        flex-grow: 1;
    }
    .action-btn-right {
        flex-grow: 1;
        text-align: right;
    }
}