<div style="padding: 10px;" *ngIf="currentProduct">
    <div class="edit-form">
        <input type="text" placeholder="Product Name" [value]="currentProduct?.productName">
        <input type="text" placeholder="Description" [value]="currentProduct?.description">
        <input type="text" placeholder="Product Code" [value]="currentProduct?.productCode">
    </div>
    <div class="action-btn">
        <button (click)="onSave(currentProduct);">Save</button>
        <button (click)="onDelete(currentProduct)">Delete</button>
        <button (click)="onCancel(currentProduct)">Cancel</button>
    </div>
</div>